# LLM Providers
VITE_OPENAI_COMPATIBLE_HOST=
VITE_OPENAI_COMPATIBLE_KEY=
VITE_MISTRAL_API_KEY=
VITE_ENCRYPTION_KEY=your_32_character_encryption_key_here

# Qdrant Cloud
VITE_QDRANT_URL=
VITE_QDRANT_API_KEY=

# Database
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

# Gemini
VITE_GEMINI_KEY=

# App
VITE_APP_URL=http://localhost:1420

# Supabase S3 Storage
VITE_SUPABASE_S3_ACCESS_KEY_ID=
VITE_SUPABASE_S3_SECRET_ACCESS_KEY=
VITE_SUPABASE_S3_ENDPOINT=
VITE_SUPABASE_S3_REGION=sa-east-1

# Tavily
VITE_TAVILY_API_KEY=
